<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">contact page</a>.
</p>
<br>
<form>
Write your emila to get more information about us<br>
Email:
<input type="text" name="email">
<input type="submit" value="submit"><br>
</form>
<p>
<a href="http://nasrin-sampleapp.herokuapp.com">Home</a>|<a href="/static_pages/about">About</a>|<a href="/static_pages/help">Help</a>
</p>
